<div class="ad-slot-container" data-ad-slot="<%= slotId %>">
  <div class="ad-slot-box">
    <span class="ad-label">Advertisement</span>
    <% if (typeof propellerZoneId !== 'undefined' && propellerZoneId) { %>
      <!-- PropellerAds Zone ID: <%= propellerZoneId %> -->
      <script type="text/javascript">
        (function(d,z,s){s.src='https://'+d+'/400/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('groleegni.net', <%= propellerZoneId %>, document.createElement('script'));
      </script>
    <% } else { %>
      <span class="ad-placeholder-text">Sponsored Ad Content</span>
    <% } %>
  </div>
</div>
